body {
    height: 100%;
    width: 100%;
    background-color: #FAF7EF;
    font-family: Arial;
    font-weight: bold;
    color: #575555;
    display: block;
    margin: 0;
}

#contact {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

header {
    font-size: 50px;
    /*color: #AF5E59;*/
    font-weight: normal;
    padding-bottom: 5px;
    margin: 0px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    outline: none;
}
.addContact {
    background-color: #d3d6e3;
    border: 2.75px solid #4f4f4f;
    border-radius: 0.75rem;
    width: 155px;
    height: 50px;
    font-weight: bold;
    color: #575555;
    font-size: 22px;
}

.addContact:hover {
    background-color: #caccd9;
}

.addContact:active {
    background-color: #bbbdc9;
}

/*signature snippet*/

#sourcecode {
    font-family: Arial;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-weight: bold;
    color: #4f4f4f;
}

p {
    margin-block-start: 0em;
}

.sourcetext {
    text-decoration: none;
}

#coded {
    color: #c26965;
}

#coded:hover {
    color: #9c5854;
}

#jinyoung {
    color: #5c805c;
}

#jinyoung:hover {
    color: #496349;
}

/*end of signature snippet*/


.modal {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    /*these were set to make sure modal overlay covers entire screen*/
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    /*end of attempt to get overlay to cover entire screen*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.65);
}

.modal--hidden {
    display: none;
}

.modal_contents {
        background-color: #dbdbdb;
        padding: 2rem; /* 2 rem on top, bottom, left, and right */
        border-radius: 0.75rem;
        border: 2.75px solid #757575;
        text-align: center;
}

.namefield {
    width: 40%;
    font-size: 18px;
    color: #757575;
}

.datefield {
    width: 40%;
    font-family: Arial;
    font-size: 16px;
    color: #757575;
}

#modaltitle {
    font-size: 25px;
    color: #4a4848;
}

#notes-text {
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#notes-input {
    width: 40%;
    font-family: Arial;
    font-size: 16px;
    color: #757575;
}

#checkIn {
    font-size: 16px;
    margin-top: 1em;
    font-weight: bold;
}

#submit {
    background-color: #6c966c;
    color: white;
    font-weight: normal;
    border-radius: 0.25rem;
    border: 2.75px solid #757575;
    padding: .175rem;
}

#submit:hover {
    background-color: #658c65;
}

#submit:active {
    background-color: #5c805c;
}

.modal_closebar {
    display: flex;
    justify-content: flex-end;
    margin-right: -1rem;
    margin-top: -1rem;
}

#close {
    padding: 0;
    font-size: 18px;
    height: 1.25em;
    width: 1.25em;
    border-radius: 0.25rem;
    border: 2.75px solid #757575;
    background-color: #949292;
    color: white;
}

#close:hover {
    background-color: #8a8a8a;
}

#close:active {
    background-color: #757373;
}
